$animal-yellow-light: rgb(255, 203, 59);
$animal-yellow-light2: rgb(250, 221, 141);
$animal-yellow-dark: #FCBE1E;
$animal-kaki-light: rgb(236, 222, 181);
$animal-kaki: #8A6C13;
$animal-kaki-dark: rgb(80, 60, 0);
// $animal-light-blue: #CEEDEF;
$animal-light-blue: rgb(233, 253, 255);
$animal-light-blue2: rgb(200, 249, 253);
