<div class="wrapper">
  <div class="container">
    <div class="row">
      <!-- COL 1 -->
      <div class="col-sm-6">
        <ul>
          <li>Contact</li>
          <li>FAQ</li>
          <li>Condidition générale d'utilisation</li>
        </ul>
      </div>
      <!-- COL 2 -->
      <div class="col-sm-6">
        <ul>
          <li>Politique de confidentialité</li>
          <li>A propos d'Animal Sitter</li>
          <li>Créé par <a href="https://github.com/Andromed75">Arthur de DONNO</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
