@import "../../../ressource/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap");

ul {
  list-style-type: none;
  font-family: "Baloo Bhai 2", cursive;
}

.col-sm-6 {
  text-align: center;
}

.wrapper {
  background-color: $animal-yellow-light;
  // bottom: 0;
  // position: absolute;
  width: 100%;
  flex-shrink: 0;

}
